{% extends "base.html.twig" %}

{% block body %}
    <h1>Hello MoiJV !!!</h1>
    <button><a style="text-decoration: none; color: #000" href="{{ path('logout') }}">Deconnexion</a></button>
    <h2>Liste des utilisateurs</h2>
    <ul>
        {# <?php foreach($users as $user): #}
        {% for user in users %}
            <li>{{ user.username }} : {{ user.email }}</li>
        {% endfor %}
        {# <?php endforeach; #}
    </ul>
{% endblock body %}