{% extends 'base.html.twig' %}

{% block title %}Mes produits{% endblock %}

{% block body %}
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">Mes produits</h1>
        <p class="lead">Voici la liste de tous nos jeux vidéos référencés sur le site</p>
        <a href="{{ path('add_product') }}" class="btn btn-primary btn-lg">Ajouter un produit</a>
    </header>


    {%  include 'incs/product_list.html.twig' with { 'products' : products, 'routeName' : 'product_paginated' } %}


{% endblock %}
