{% extends "base.html.twig" %}

{% block body %}
    <h1>Hello MoiJV !!!</h1>
    <a style="background: white; border: 1px solid black; border-radius: 4px; padding: 5px; text-decoration: none; color: #000" href="{{ path('login') }}">Connexion</a>
    <h2>Enculé de ta race !!</h2>
{% endblock body %}